<!-- <hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p> -->
<!-- Header -->
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
      #button
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar" #collapse>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search" />
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Header -->

<!-- Side Bar -->
<app-sidebar></app-sidebar>
<!-- Side Bar -->

<app-section></app-section>

<!-- <div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">Test</div>
      <div class="col-md-4">Test</div>
      <div class="col-md-4">Test</div>
    </div>
    <form action="/action_page.php">
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          name="email"
        />
      </div>
      <div class="form-check mb-3">
        <label for="optin" class="form-check-label">Remember</label>
        <input
          type="color"
          class="form-control form-check-color"
          name="optin"
          value="#444524"
        />
      </div>
    </form>
  </div>
</div> -->

<!-- Footer -->
<footer class="mt-4 p-3 bg-secondary text-center text-white footer">
  Footer
</footer>
<!-- Footer -->
